.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: #2e2e2e;
}

.search-bar input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  box-sizing: border-box;
  color: white;
  background-color: #3c3c3c;
  transition: background-color 0.3s;
}

.search-bar input::placeholder {
  color: #b3b3b3;
}

.search-bar input:focus {
  background-color: #4a4a4a;
}

.search-bar button {
  padding: 15px;
  font-size: 18px;
  background-color: #ff5c5c;
  border: none;
  color: white;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #ff3030;
}

.suggestions-list {
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  list-style: none;
  color: black;
  transition: background-color 0.2s;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}
