body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212; /* Sayfanın genel arka plan rengi */
  color: white; /* Yazı rengi */
  overflow-x: hidden; /* Yana kaydırmayı tamamen önle */
}
